body {
    background-image: url(images/sfondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    position: relative;
    z-index: 1000;
}

nav img {
    height: 80px;
    width: auto;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #9d9494;
    color: #fff;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
}

.dropdown-item {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: dotted;
    display: block;
}

.dropdown-item:hover {
    background-color: #9d9494;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle:hover {
    background-color: #9d9494;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
}

.centra,
.element1 {
    text-align: center;
    margin-left: 60%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.element1 {
    margin-top: 20px;
}

.btn {
    padding: 20px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container3 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    padding: 25px;
    margin-left: 10%;
    margin-right: 5%;
    padding-bottom: 5%;
}

#foto1 {
    float: right;
    width: 200px;
    margin-right: 1%;
    border-radius: 10%;
    margin-left: 80px;
}

.container4 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    padding: 25px;
    margin-left: 5%;
    margin-right: 10%;
    padding-bottom: 3%;
    margin-top: 5%;
}

#fotto {
    float: left;
    width: 200px;
    margin-right: 10%;
    border-radius: 10%;
}

.cler-both {
    clear: both;
    margin-top: 10%;
}

.text-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

#birra {
    width: 290px;
    height: 400px;
}

/* Stili per il contenitore */
.container {
    text-align: center;
    /* Centra i box all'interno del contenitore */
}

.box {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
    background-color: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    margin-top: 10%;
}

.box1 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.box2 {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}


.about-us {
    text-align: justify;
    padding: 10px;
    margin: 10px;
}

footer {
    clear: both;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    margin-top: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #c3bbbb;
    border: 2px solid black;
    margin: 5px;
    padding: 10%;
    border-radius: 5px;
}

th {
    background-color: #f2f2f2;
    color: rgb(7, 7, 7);
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
}

.link-link:link {
    color: rgb(22, 134, 50);
}

.link link:visited {
    color: rgb(226, 43, 43);
}

.link link:active {
    color: darkorange;
}

caption {
    padding: 10px;
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    text-align: center;
    caption-side: bottom;
    margin-top: 5%;
}

/* Stile per il contenitore della mappa */
.map-container {
    flex: 1;
    /* Occupa uno spazio proporzionale */
    max-width: 100%;
    /* Adatta alla larghezza del contenitore */
    padding: 10px;
    border-radius: 5px;
}

/* Stile per l'iframe della mappa */
.map-container iframe {
    width: 100%;
    /* Adatta la larghezza all'interno del contenitore */
    height: 280px;
    /* Altezza fissa */
    border: 1px solid black;
}